div#container {
	width: 1100px;
	margin: 0px auto;
}
div#logo, div#menu {
	background-image: url('img/header_bg.png');
	background-repeat: repeat-x;
}
div#logo {
	padding: 10px;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
	margin: 15px;
	padding-top: 15px;
}
a:link{
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
div#content {
	background-image: url('img/banner_bg.png');
	background-repeat: repeat-x;
	height: 425px;
}
#content img {
    float: left;
    margin: 15px;
    padding-left: 30px;
    padding-right: 20px;
}
#content:not(img){
    float: right;
    padding-right: 40px;
	color: white;
}
.inhoud {
	margin: 20px;
	width: 300px;
}
div#footer {
	background-image: url('img/footer_bg.png');
	background-repeat: repeat-x;
}
#copyright {
	text-align: center;
	color: white;
}
h1 {
	font-size: 26px;
	line-height: 30px;
}
h2 {
	font-size: 20px;
	line-height: 22px;
}
p {
	font-size: 14px;
	line-height: 20px;
}
div#error {
	font-size: 50px;
	line-height: 60px;
}
#bannercar {
	padding: 75px;
}
#bannertekstcar {
	padding-top: 80px;
}
.subimgsize {
	margin: 15px;
	height: 100px;
	width: 275px;
}
#bannerkleding {
	padding: 15px;
	height: 300px;
	width: 300px;
}
#kledingbannertekst {
	padding-top: 100px;
}
.subkleding{
	height: 200px;
	width: 170px;
}